In [ ]:
# Package download and import
# !pip install scikit-learn
# !pip install seaborn 

# from sklearn.preprocessing i
import pandas as pd
import time 
import gzip
import json

# Welcome to the introduction to machine learning workshop!!!

This is a Python notebook for reference. Feel free to set this up on Google Colab (https://colab.research.google.com/) or your local machine with your favorite IDEs, and follow along with the presentation! 

We will be using 2 datasets for a couple of tasks, `mobile-price-prediction` and `renttherunway`. You can download these dataset from our public google drive, under the folder `datasets`: https://drive.google.com/drive/folders/1AjcUTdO1bIDMsjvhEUxo0PtAgekIl4-s?usp=sharing. 

Once you have the dataset, run the cell below to read in the data and test out all the model demos. The markdown cells will explain what the codes are doing, but please ask questions if anything is unclear, or you run into issues. There are no stupid questions!

In [ ]:
# TODO: replace with path to your downloaded dataset  
mobile_price_train_filepath = '/content/drive/Shareddrives/ML-Workshop2023/datasets/mobile_price_classification/train.csv'
# mobile_price_test_filepath = '/content/drive/Shareddrives/ML-Workshop2023/datasets/mobile_price_classification/test.csv'
renttherunway_filepath = '/content/drive/Shareddrives/ML-Workshop2023/datasets/renttherunway_interactions.csv'

# load the data into memory
mobile_price_train = None
# mobile_price_test = None
renttherunway = None 
mobile_price_train = pd.read_csv(mobile_price_train_filepath)
# mobile_price_test = pd.read_csv(mobile_price_test_filepath)
renttherunway = pd.read_csv(renttherunway_filepath, index_col=0)

In [ ]:
# check out our data
mobile_price_train.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [ ]:
renttherunway.describe()

,user_id,item_id,rating,size,age
count,192544.000000,1.925440e+05,192462.000000,192544.000000,191584.000000
mean,499494.100149,1.045684e+06,9.092371,12.245175,33.871017
std,289059.719328,8.053148e+05,1.430044,8.494877,8.058083
min,9.000000,1.233730e+05,2.000000,0.000000,0.000000
25%,250654.250000,1.950760e+05,8.000000,8.000000,29.000000
50%,499419.000000,9.483960e+05,10.000000,12.000000,32.000000
75%,750974.000000,1.678888e+06,10.000000,16.000000,37.000000
max,999997.000000,2.966087e+06,10.000000,58.000000,117.000000

## Categories of ML Tasks

Machine Learning tasks can be generalized into three categories: 
1. Supervised Learning Tasks
    - A model is trained given the input features, X, and their corresponding targets, Y. 
    - EX: regressions tasks, labeled classification tasks
2. Unsupervised Learning Tasks.
    - A model is trained given only the input features, X, without their corresponding targets. 
    - EX: clustering, dimensionality reduction. 
3. Reinforcement Learning Tasks 
    - Train a model or an action policy of an agent based on feedback from the environment. 
    - EX: markov descision process, Q table learning.

In this workshop, we will look at both supervised and unsupervised tasks, including: 
* regression 
    - linear regression 
    - lasso regression 
    - support vector machine 
* classificaiton 
    - logistic regression 
    - decision tree 
    - random forest tree 
* clustering  
    - kmeans clustering
    - density-based spatial clustering of application with noise (DBSCAN)

## What steps need to happen to solve a ML task? 
### TDOO: FINISH THIS SECTION

In [ ]:
# some feature engineering

## Components of a ML Model

### Supervised Regression

In [ ]:
# Task 1: multivariate linear regression

In [ ]:
# Task 2: Lasso regression (linear regression with regularization)

In [ ]:
# Task 3: Support Vector Machine

### Supervised Classificaiton

In [ ]:
# Task 4: logistic regression (classification)

In [ ]:
# Task 5: Decision Tree

### Unsupervised Clustering

In [ ]:
# Task 6: Kmeans Clustering

## Quick Overview of Other Tasks and Use Cases